/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color:#1F3F68;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}

/*Header style start*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header_wrapper{

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 34px;
}
/*Header style end*/

/*Intro style start*/

.intro_wrapper{
	/* display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 13px; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.intro{
	min-height: 100vh;
	background: url(../img/intro_bg.jpg) no-repeat center;
	background-size: cover;
}
.intro_title{
	display: grid;
	padding-top: 189px;
	max-width: 504px;
	font-weight: 300;
	font-size: 64px;
	line-height: 74px;
	color: #1F3F68;
	margin-bottom: 32px;
}

.intro_subtitle{
	max-width: 425px;
	max-height: 82px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
	opacity: 0.6;
	margin-bottom: 71px;
}

.form_intro-button{
	padding: 15px 50px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color:white;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	border: 0;
	cursor: pointer;
}

.form_intro-button:hover, .form_intro-button:focus, .form_intro-button:active{
	background: #0b376f;
}

.illustration{
	display: grid;
	padding-top: 193px;
}

img{
	max-width: 100%;
	height: auto;
}
/*Intro style end*/

/*2 block start*/

.d_era{
	padding-top: 64px;
	font-weight: 300;
	font-size: 36px;
	line-height: 46px;
	text-align: center;
	color: #000000;
	margin-bottom: 64px;
}

.era_wrapper{
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 32px;
	justify-items: center; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.card{
	max-width: 359px;
	margin-top: 64px;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	border: #000000;
	padding: 44px 44px 44px 32px;
	margin-bottom: 64px;
} 

.pic_1{
	margin-bottom: 51px;
	margin-left: 10%; 
}
.pic_2{
	margin-bottom: 45px;
	margin-left: 25%; 
}
.pic_3{
	margin-bottom: 49px;
	margin-left: 20%;
}

.z{
	max-width: 283px;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: #1F3F68;
	margin-bottom: 14px;
}

.z3{
	max-width: 295px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
	opacity: 0.6;
	margin-bottom: 30px;
}

.card_item{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}
.more{
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #5A98D0;
	text-decoration: none;
	padding-right: 24px;
}

.str{
	max-width: 15px;
}

/*2 block end*/

/*3 block start*/

.slid{
	display: flex;
	align-items: center;
	justify-content: center;
}

.title{
	text-align: center;
	font-weight: 300;
	font-size: 36px;
	line-height: 46px;
	color: #000000;
	margin-bottom: 32px;
}

.text{
	text-align: center;
	max-width: 750px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #222222;
	margin-bottom: 64px;
}

.pic_home{
	position: relative;
	margin-bottom: 32px;
}

.text_home{
	position: absolute;
	color: white;
	font-weight: normal;
	font-size: 28px;
	line-height: 46px;
	top: 64px;
	right: 64px;
}
.pictures{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 32px;
	/* display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between; */
	margin-bottom: 112px;
}

.pic_iphone{
	position: relative;
}

.text_iphone{
	position: absolute;
	color: white;
	font-weight: normal;
	font-size: 28px;
	line-height: 46px;
	top: 32px;
	left: 32px;
}

.pic_car{
	position: relative;
}

.text_car{
	position: absolute;
	color: white;
	font-weight: normal;
	font-size: 28px;
	line-height: 46px;
	top: 32px;
	left: 32px;
}

/*3 block end*/

/*footer start*/

.footer{
	background: #316099;
}

.footer_item{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.footer_title{
	padding-top: 91px;
	max-width: 341px;
	font-weight: normal;
	font-size: 36px;
	line-height: 46px;
	color: #FFFFFF;
	margin-bottom: 32px;
}

.footer_p{
	max-width: 495px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	opacity: 0.6;
	margin-bottom: 96px;
}

.footer_button-submit{
	padding: 15px 80px;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color:white;
	background: #5A98D0;
	border: 0;
	cursor: pointer;
	margin-bottom: 41px;
}

.footer_button-submit:hover, .footer_button-submit:focus, .footer_button-submit:active{
	background: #0b376f;
}
.border{
	opacity: 0.4;
	border: 1px solid #FFFFFF;
	margin-bottom: 64px;
}


.contact_us{
	max-width: 1140px;
    margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.li{
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	margin-bottom: 64px;
}

.p{
	max-width: 1140px;
    margin: 0 auto;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	opacity: 0.4;
	padding-bottom: 64px;
}

/*Media start*/

@media screen and (max-width:1185px){
	.wrapper{
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.era_wrapper{
		flex-direction: column;
	}
	.contact_us{
		margin-left: 10%;
		margin-right: 10%;
		display: block;
		justify-content:flex-start;
	}
	.p{
		margin-left: 10%;
		margin-right: 10%;
	}
	
}

@media screen and (max-width:1024px){
	.intro{
		min-height: 60vh;
	}
	.li{
		margin-bottom: 25px;
		letter-spacing: 0.05em;
	}
	.li:last-child{
		margin-bottom: 64px;
	}
	
}

@media screen and (max-width:768px){
	.intro_wrapper{
	}
	.intro_title{
		min-width: 504px;
	}
	.illustration{
		align-items: end;
	}
	.form_intro-button{
		margin-bottom: 60px;
	}
	.illustration{
		display: none;
	}
}

@media screen and (max-width:376px){
	.intro_title{
		min-width: 343px;
		font-weight: 300;
		font-size: 32px;
		line-height: 37px;
		text-align: center;
		margin-right: 16px;
	}
	.intro_subtitle{
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		margin-right: 16px;
	}
	.form_intro-button{
		margin-left: 60px;
	}
	
}